.alert-light-danger {
  background-color: #FEEFD0 !important;
  color: #F55252  !important;
  border-color: #FEEFD0;
}


@media screen and (max-width: 1300px) {
  .card-h{
    height: auto !important;
  }
}