<!-- <app-navbar></app-navbar> -->
<section class="banner">
    <h1>Browse Paralegals by practice area</h1>
  </section>
<section class="section1">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="input-wrapper">
          <input class="input-sec form-control" type="text" placeholder="Search Paralegals by practice area">
          <svg class="searchicon" width="18" height="18" viewBox="0 0 18 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.6 18L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L18 16.6L16.6 18ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z"
              fill="#1D1B20" />
          </svg>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-wrapper">
          <input class="input-sec form-control" type="text" placeholder="Search by state">
          <svg class="locationicon" width="18" height="18" viewBox="0 0 18 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7 20C6.76667 20 6.56667 19.9333 6.4 19.8C6.23333 19.6667 6.10833 19.4917 6.025 19.275C5.70833 18.3417 5.30833 17.4667 4.825 16.65C4.35833 15.8333 3.7 14.875 2.85 13.775C2 12.675 1.30833 11.625 0.775 10.625C0.258333 9.625 0 8.41667 0 7C0 5.05 0.675 3.4 2.025 2.05C3.39167 0.683333 5.05 0 7 0C8.95 0 10.6 0.683333 11.95 2.05C13.3167 3.4 14 5.05 14 7C14 8.51667 13.7083 9.78333 13.125 10.8C12.5583 11.8 11.9 12.7917 11.15 13.775C10.25 14.975 9.56667 15.975 9.1 16.775C8.65 17.5583 8.275 18.3917 7.975 19.275C7.89167 19.5083 7.75833 19.6917 7.575 19.825C7.40833 19.9417 7.21667 20 7 20ZM7 9.5C7.7 9.5 8.29167 9.25833 8.775 8.775C9.25833 8.29167 9.5 7.7 9.5 7C9.5 6.3 9.25833 5.70833 8.775 5.225C8.29167 4.74167 7.7 4.5 7 4.5C6.3 4.5 5.70833 4.74167 5.225 5.225C4.74167 5.70833 4.5 6.3 4.5 7C4.5 7.7 4.74167 8.29167 5.225 8.775C5.70833 9.25833 6.3 9.5 7 9.5Z"
              fill="#1D1B20" />
          </svg>

        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex h-100 align-items-stretch">
          <button class="btn btn-primary w-100">Search</button>
        </div>
      </div>
    </div>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>By Categories</a>
          <ng-template ngbNavContent>
            <h3 class="mt-4">Practice Areas in {{ stateName }}</h3>
            <div class="row">
              <div class="col-md-3">
                  <ul class="list-unstyled">
                      <li class="m-1"><a href="#">Bankruptcy and Debt</a></li>
                      <li class="m-1"><a href="#">Criminal Defense</a></li>
                      <li class="m-1"><a href="#">Employment and Labor</a></li>
                      <li class="m-1"><a href="#">Real Estate</a></li>
                      <li class="m-1"><a href="#">Family Law</a></li>
                      <li class="m-1"><a href="#">Intellectual Property</a></li>
                      <li class="m-1"><a href="#">Personal Injury</a></li>
                      <li class="m-1"><a href="#">Immigration</a></li>
                      <li class="m-1"><a href="#">Tax Law</a></li>
                      <li class="m-1"><a href="#">Medical Malpractice</a></li>
                      <li class="m-1"><a href="#">Administrative Law</a></li>
                      <li class="m-1"><a href="#">Adoption Law</a></li>
                      <li class="m-1"><a href="#">Appellate Law</a></li>
                      <li class="m-1"><a href="#">Aviation Law</a></li>
                      <li class="m-1"><a href="#">Banking Law</a></li>
                      <li class="m-1"><a href="#">Business Litigation</a></li>
                      <li class="m-1"><a href="#">Child Custody</a></li>
                      <li class="m-1"><a href="#">Child Support</a></li>
                      <li class="m-1"><a href="#">Conservatorship</a></li>
                      <li class="m-1"><a href="#">Construction Law</a></li>
                      <li class="m-1"><a href="#">Cybersecurity Law</a></li>
                      <li class="m-1"><a href="#">Debt Settlement</a></li>
                      <li class="m-1"><a href="#">Discrimination Law</a></li>
                      <li class="m-1"><a href="#">Domestic Violence</a></li>
                      <li class="m-1"><a href="#">E-commerce Law</a></li>
                      <li class="m-1"><a href="#">Election Law</a></li>
                      <li class="m-1"><a href="#">Elder Abuse Law</a></li>
                      <li class="m-1"><a href="#">Entertainment Law</a></li>
                      <li class="m-1"><a href="#">Equine Law</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <ul class="list-unstyled">
                      <li class="m-1"><a href="#">Business Law</a></li>
                      <li class="m-1"><a href="#">Elder Law</a></li>
                      <li class="m-1"><a href="#">Education Law</a></li>
                      <li class="m-1"><a href="#">Civil Rights</a></li>
                      <li class="m-1"><a href="#">Workers' Compensation</a></li>
                      <li class="m-1"><a href="#">Consumer Protection</a></li>
                      <li class="m-1"><a href="#">Entertainment Law</a></li>
                      <li class="m-1"><a href="#">Sports Law</a></li>
                      <li class="m-1"><a href="#">Admiralty and Maritime</a></li>
                      <li class="m-1"><a href="#">Constitutional Law</a></li>
                      <li class="m-1"><a href="#">Estate Planning</a></li>
                      <li class="m-1"><a href="#">Franchise Law</a></li>
                      <li class="m-1"><a href="#">Government Contracts</a></li>
                      <li class="m-1"><a href="#">Gun Law</a></li>
                      <li class="m-1"><a href="#">Human Rights Law</a></li>
                      <li class="m-1"><a href="#">Identity Theft Law</a></li>
                      <li class="m-1"><a href="#">Internet Law</a></li>
                      <li class="m-1"><a href="#">Lemon Law</a></li>
                      <li class="m-1"><a href="#">Maritime Personal Injury</a></li>
                      <li class="m-1"><a href="#">Mediation & Arbitration</a></li>
                      <li class="m-1"><a href="#">Municipal Law</a></li>
                      <li class="m-1"><a href="#">Non-Profit Law</a></li>
                      <li class="m-1"><a href="#">Parole and Probation</a></li>
                      <li class="m-1"><a href="#">Product Liability</a></li>
                      <li class="m-1"><a href="#">Public Utility Law</a></li>
                      <li class="m-1"><a href="#">Sexual Harassment Law</a></li>
                      <li class="m-1"><a href="#">Tribal Law</a></li>
                      <li class="m-1"><a href="#">Whistleblower Law</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                <ul class="list-unstyled">
                    <li class="m-1"><a href="#">Aerospace Law</a></li>
                    <li class="m-1"><a href="#">Aviation Law</a></li>
                    <li class="m-1"><a href="#">Banking Law</a></li>
                    <li class="m-1"><a href="#">Biotech Law</a></li>
                    <li class="m-1"><a href="#">Chemical Law</a></li>
                    <li class="m-1"><a href="#">Climate Change Law</a></li>
                    <li class="m-1"><a href="#">Communications Law</a></li>
                    <li class="m-1"><a href="#">Debt Collection</a></li>
                    <li class="m-1"><a href="#">Energy & Utilities</a></li>
                    <li class="m-1"><a href="#">Space Law</a></li>
                    <li class="m-1"><a href="#">Telecommunications Law</a></li>
                    <li class="m-1"><a href="#">Trade Law</a></li>
                    <li class="m-1"><a href="#">Whistleblower Law</a></li>
                    <li class="m-1"><a href="#">Insurance Disputes</a></li>
                    <li class="m-1"><a href="#">Venture Capital Law</a></li>
                    <li class="m-1"><a href="#">Equine Law</a></li>
                    <li class="m-1"><a href="#">Art Law</a></li>
                    <li class="m-1"><a href="#">Food and Drug Law</a></li>
                    <li class="m-1"><a href="#">Security Clearance Law</a></li>
                    <li class="m-1"><a href="#">Social Media Law</a></li>
                    <li class="m-1"><a href="#">AI and Robotics Law</a></li>
                    <li class="m-1"><a href="#">Crowdfunding Law</a></li>
                    <li class="m-1"><a href="#">Space Exploration Law</a></li>
                    <li class="m-1"><a href="#">Genetics and Law</a></li>
                    <li class="m-1"><a href="#">Autonomous Vehicles Law</a></li>
                    <li class="m-1"><a href="#">Drone Law</a></li>
                    <li class="m-1"><a href="#">Agribusiness Law</a></li>
                    <li class="m-1"><a href="#">Microfinance Law</a></li>
                </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li class="m-1"><a href="#">Tax Law</a></li>
                <li class="m-1"><a href="#">Medical Malpractice</a></li>
                <li class="m-1"><a href="#">Administrative Law</a></li>
                <li class="m-1"><a href="#">Adoption Law</a></li>
                <li class="m-1"><a href="#">Appellate Law</a></li>
                <li class="m-1"><a href="#">Aviation Law</a></li>
                <li class="m-1"><a href="#">Banking Law</a></li>
                <li class="m-1"><a href="#">Business Litigation</a></li>
                <li class="m-1"><a href="#">Child Custody</a></li>
                <li class="m-1"><a href="#">Child Support</a></li>
                <li class="m-1"><a href="#">Conservatorship</a></li>
                <li class="m-1"><a href="#">Construction Law</a></li>
                <li class="m-1"><a href="#">Cybersecurity Law</a></li>
                <li class="m-1"><a href="#">Debt Settlement</a></li>
                <li class="m-1"><a href="#">Discrimination Law</a></li>
                <li class="m-1"><a href="#">Domestic Violence</a></li>
                <li class="m-1"><a href="#">E-commerce Law</a></li>
                <li class="m-1"><a href="#">Election Law</a></li>
                <li class="m-1"><a href="#">Elder Abuse Law</a></li>
                <li class="m-1"><a href="#">Entertainment Law</a></li>
                <li class="m-1"><a href="#">Equine Law</a></li>
                  <li class="m-1"><a href="#">Bankruptcy and Debt</a></li>
                  <li class="m-1"><a href="#">Criminal Defense</a></li>
                  <li class="m-1"><a href="#">Employment and Labor</a></li>
                  <li class="m-1"><a href="#">Real Estate</a></li>
                  <li class="m-1"><a href="#">Family Law</a></li>
                  <li class="m-1"><a href="#">Intellectual Property</a></li>
                  <li class="m-1"><a href="#">Personal Injury</a></li>
                  <li class="m-1"><a href="#">Immigration</a></li>
              </ul>
          </div>
          </div>
          
        </ng-template>
        </li>
      
        <li [ngbNavItem]="2">
          <a ngbNavLink>A to Z</a>
          <ng-template ngbNavContent>
              <h3 class="mt-4">Practice Areas (A to Z)</h3>
              <div class="row">
                  <div class="col-md-4">
                      <h5>A</h5>
                      <ul>
                          <li><a href="#">Administrative Law</a></li>
                          <li><a href="#">Admiralty & Maritime</a></li>
                          <li><a href="#">Adoption</a></li>
                          <li><a href="#">Advertising</a></li>
                          <li><a href="#">Agriculture</a></li>
                          <li><a href="#">Alimony</a></li>
                          <li><a href="#">Animal & Dog Bites</a></li>
                          <li><a href="#">Antitrust & Trade Law</a></li>
                          <li><a href="#">Appeals</a></li>
                          <li><a href="#">Arbitration</a></li>
                          <li><a href="#">Asylum</a></li>
                          <li><a href="#">Aviation</a></li>
                      </ul>
      
                      <h5>B</h5>
                      <ul>
                          <li><a href="#">Banking</a></li>
                          <li><a href="#">Bankruptcy & Debt</a></li>
                          <li><a href="#">Business Law</a></li>
                      </ul>
      
                      <h5>C</h5>
                      <ul>
                          <li><a href="#">Child Custody</a></li>
                          <li><a href="#">Civil Rights</a></li>
                          <li><a href="#">Class Action</a></li>
                          <li><a href="#">Commercial Law</a></li>
                          <li><a href="#">Construction Law</a></li>
                          <li><a href="#">Consumer Protection</a></li>
                          <li><a href="#">Contract Law</a></li>
                          <li><a href="#">Copyright Law</a></li>
                          <li><a href="#">Criminal Defense</a></li>
                      </ul>
      
                      <h5>D</h5>
                      <ul>
                          <li><a href="#">Disability Law</a></li>
                          <li><a href="#">Discrimination</a></li>
                          <li><a href="#">Divorce & Separation</a></li>
                          <li><a href="#">DUI & DWI</a></li>
                      </ul>
                  </div>
      
                  <div class="col-md-4">
                      <h5>E</h5>
                      <ul>
                          <li><a href="#">Education</a></li>
                          <li><a href="#">Elder Law</a></li>
                          <li><a href="#">Election Law</a></li>
                          <li><a href="#">Employment & Labor</a></li>
                          <li><a href="#">Energy & Utilities</a></li>
                          <li><a href="#">Entertainment</a></li>
                          <li><a href="#">Environmental Law</a></li>
                          <li><a href="#">Estate Planning</a></li>
                          <li><a href="#">Ethics & Professional Responsibility</a></li>
                      </ul>
      
                      <h5>F</h5>
                      <ul>
                          <li><a href="#">Family Law</a></li>
                          <li><a href="#">Federal Crimes</a></li>
                          <li><a href="#">Financial Law</a></li>
                          <li><a href="#">Foreclosure Defense</a></li>
                          <li><a href="#">Franchise Law</a></li>
                      </ul>
      
                      <h5>G</h5>
                      <ul>
                          <li><a href="#">Government Law</a></li>
                          <li><a href="#">Guardianship</a></li>
                      </ul>
      
                      <h5>H</h5>
                      <ul>
                          <li><a href="#">Health Care Law</a></li>
                          <li><a href="#">Human Rights</a></li>
                      </ul>
      
                      <h5>I</h5>
                      <ul>
                          <li><a href="#">Immigration Law</a></li>
                          <li><a href="#">Insurance Law</a></li>
                          <li><a href="#">Intellectual Property</a></li>
                          <li><a href="#">International Law</a></li>
                      </ul>
                  </div>
      
                  <div class="col-md-4">
                      <h5>J</h5>
                      <ul>
                          <li><a href="#">Juvenile Law</a></li>
                      </ul>
      
                      <h5>K</h5>
                      <ul>
                          <li><a href="#">Kidnapping Law</a></li>
                      </ul>
      
                      <h5>L</h5>
                      <ul>
                          <li><a href="#">Landlord & Tenant</a></li>
                          <li><a href="#">Litigation</a></li>
                      </ul>
      
                      <h5>M</h5>
                      <ul>
                          <li><a href="#">Marriage & Prenuptials</a></li>
                          <li><a href="#">Mediation</a></li>
                          <li><a href="#">Medical Malpractice</a></li>
                          <li><a href="#">Military Law</a></li>
                      </ul>
      
                      <h5>N</h5>
                      <ul>
                          <li><a href="#">Native American Law</a></li>
                          <li><a href="#">Nursing Home Abuse</a></li>
                      </ul>
      
                      <h5>O</h5>
                      <ul>
                          <li><a href="#">Oil & Gas Law</a></li>
                      </ul>
      
                      <h5>P</h5>
                      <ul>
                          <li><a href="#">Patent Law</a></li>
                          <li><a href="#">Personal Injury</a></li>
                          <li><a href="#">Privacy Law</a></li>
                      </ul>
      
                      <h5>Q</h5>
                      <ul>
                          <li><a href="#">Qui Tam Whistleblower</a></li>
                      </ul>
      
                      <h5>R</h5>
                      <ul>
                          <li><a href="#">Real Estate</a></li>
                          <li><a href="#">Refugee Law</a></li>
                      </ul>
      
                      <h5>S</h5>
                      <ul>
                          <li><a href="#">Securities Law</a></li>
                          <li><a href="#">Social Security Disability</a></li>
                          <li><a href="#">Sports Law</a></li>
                      </ul>
      
                      <h5>T</h5>
                      <ul>
                          <li><a href="#">Tax Law</a></li>
                          <li><a href="#">Technology Law</a></li>
                          <li><a href="#">Traffic Violations</a></li>
                          <li><a href="#">Transportation Law</a></li>
                      </ul>
      
                      <h5>U</h5>
                      <ul>
                          <li><a href="#">Utilities Law</a></li>
                      </ul>
      
                      <h5>V</h5>
                      <ul>
                          <li><a href="#">Veterans Law</a></li>
                      </ul>
      
                      <h5>W</h5>
                      <ul>
                          <li><a href="#">White Collar Crime</a></li>
                          <li><a href="#">Workers' Compensation</a></li>
                      </ul>
      
                      <h5>X</h5>
                      <ul>
                          <li><a href="#">Xenophobia & Discrimination Law</a></li>
                      </ul>
      
                      <h5>Y</h5>
                      <ul>
                          <li><a href="#">Youth Law</a></li>
                      </ul>
      
                      <h5>Z</h5>
                      <ul>
                          <li><a href="#">Zoning & Land Use</a></li>
                      </ul>
                  </div>
              </div>
          </ng-template>
      </li>
      
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    

  </div>
</section>

<!-- <app-footer></app-footer> -->