<div class="container-fluid" style="padding-right: 0;padding-left: 0;">

    <div class="container-fluid py-md-5 py-3">
        
        <div class="container">
            <h2 class="heading1">
                Search For Paralegal
            </h2>
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <div class="card shadow-lg p-4 w-100">
                        <div class="card-body">
                            <!-- <h2 class="text-center mb-4">Search for a Paralegal</h2> -->
        
                            <form [formGroup]="searchForm" *ngIf="searchForm">
        
                                <!-- First Name / Last Name -->
                                <div class="form-group">
                                    <label for="name">First Name / Last Name</label>
                                    <input type="text" id="name" formControlName="name" class="form-control"
                                        placeholder="Enter First or Last Name"
                                        [ngClass]="{'is-invalid': submitted && searchForm.get('name')?.errors}">
                                    <div *ngIf="submitted && searchForm.get('name')?.errors" class="text-danger small">
                                        Name is required.
                                    </div>
                                </div>
        
                                <!-- City / ZIP / State -->
                                <div class="form-group">
                                    <label for="city">City / ZIP / State</label>
                                    <input type="text" id="city" formControlName="city" class="form-control"
                                        placeholder="Enter City, ZIP, or State"
                                        [ngClass]="{'is-invalid': submitted && searchForm.get('city')?.errors}">
                                    <div *ngIf="submitted && searchForm.get('city')?.errors" class="text-danger small">
                                        Location is required.
                                    </div>
                                </div>
        
                                <div *ngIf="apiErrorMessage" class="text-danger small mt-1">
                                    {{ apiErrorMessage }}
                                </div>
        
                                <!-- Search Button -->
                                <button type="submit" class="btn btn-primary w-100 mt-3" (click)="onSearch()">Search</button>
        
                            </form>
        
                            <!-- Other Action Buttons -->
                            <div class="d-flex justify-content-between mt-3">
                                <button class="btn btn-outline-success w-45" (click)="onClaimProfile()">Claim Profile</button>
                                <button class="btn btn-outline-info w-45" [routerLink]="['/pages/contact-sales']">Contact
                                    Sale</button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6 d-lg-block d-none">
                    <img class="image-right" src="/assets/img/female-lawyer.jpg" alt="Profile Search">
                </div>
            </div>
        </div>

    </div>


</div>