<!-- 

<div class="container-fluid" style="padding-right: 0;padding-left: 0;">

    <div class="container-fluid py-md-5 py-3">
        
        <div class="container">
            <h2 class="heading1">
                Claim your Profile
            </h2>
            <div class="row">
                <div class="col-lg-6 my-auto">
                </div>
                <div class="col-lg-6 d-lg-block d-none">
                    <img class="image-right" src="/assets/img/female-lawyer.jpg" alt="Profile Search">
                </div>
            </div>
        </div>

    </div>


</div> -->