.btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .btn-close i {
    color: #6c757d; /* Adjust color if needed */
    font-size: 20px;
  }
  
  .btn-close:hover i {
    color: #000; /* Darker shade on hover */
  }
  .or-text {
    background: white;
    padding: 0 10px;
    position: relative;
    top: -14px;
    font-weight: bold;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: white !important;
}
.modal-header {
  border-radius: 0;
  background: #1792C8 !important;
}