<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg bg-light py-3" style="background-color: #f5f5f5 !important;">
  <!-- <div class="container"> -->
    

        <!-- Navbar Toggler (for mobile) -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <!-- Logo (Left-aligned) -->
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logos/nav-logo.png" alt="Hire Paralegals Direct" height="50">
    </a>



    <!-- Navbar Items (Center-aligned) -->
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-primary" href="#">Home</a>
        </li>
        <!-- Paralegal by Location Dropdown -->
        <li class="nav-item dropdown position-static" ngbDropdown #dropdown="ngbDropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            Paralegals By Location
          </a>
        
          <div class="dropdown-menu w-100 p-4 custom-dropdown" style="background-color: #fff;" ngbDropdownMenu>
            <div class="row h-100">
              <!-- Browse by Cities (25%) -->
              <div class="col-md-3 border-end ">
                <h6 class="fw-bold">Browse by Popular Cities:</h6>
                <ul class="list-unstyled">
                  <li class="p-2"><a href="#">Atlanta, GA</a></li>
                  <li class="p-2"><a href="#">Boston, MA</a></li>
                  <li class="p-2"><a href="#">Chicago, IL</a></li>
                  <li class="p-2"><a href="#">Dallas, TX</a></li>
                  <li class="p-2"><a href="#">Houston, TX</a></li>
                  <li class="p-2"><a href="#">Los Angeles, CA</a></li>
                  <li class="p-2"><a href="#">Miami, FL</a></li>
                  <li class="p-2"><a href="#">New York, NY</a></li>
                  <li class="p-2"><a href="#">Philadelphia, PA</a></li>
                  <li class="p-2"><a href="#">Phoenix, AZ</a></li>
                  <li class="p-2"><a href="#">San Antonio, TX</a></li>
                  <li class="p-2"><a href="#">San Jose, CA</a></li>
                  <li class="p-2"><a href="#">Seattle, WA</a></li>
                </ul>
              </div>
      
              <!-- Browse by State (75%) -->
              <div class="col-md-9">
                <h6 class="fw-bold">Browse by State:</h6>
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" (click)="dropdown.close()" [queryParams]="{ state: 'Alaska', count: '790' }">Alaska</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" (click)="dropdown.close()" [queryParams]="{ state: 'Arizona', count: '390' }">Arizona</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" (click)="dropdown.close()" [queryParams]="{ state: 'Alabama', count: '450' }">Alabama</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" (click)="dropdown.close()" [queryParams]="{ state: 'Arkansas', count: '320' }">Arkansas</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" (click)="dropdown.close()" [queryParams]="{ state: 'California', count: '1200' }">California</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" (click)="dropdown.close()" [queryParams]="{ state: 'Colorado', count: '550' }">Colorado</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" (click)="dropdown.close()" [queryParams]="{ state: 'Connecticut', count: '290' }">Connecticut</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" (click)="dropdown.close()" [queryParams]="{ state: 'Delaware', count: '180' }">Delaware</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Dist. of Columbia', count: '200' }">Dist. of Columbia</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Florida', count: '980' }">Florida</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Georgia', count: '750' }">Georgia</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Hawaii', count: '150' }">Hawaii</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Idaho', count: '220' }">Idaho</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Illinois', count: '700' }">Illinois</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Indiana', count: '410' }">Indiana</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Iowa', count: '330' }">Iowa</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Kansas', count: '280' }">Kansas</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Kentucky', count: '350' }">Kentucky</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Louisiana', count: '400' }">Louisiana</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Maine', count: '180' }">Maine</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Maryland', count: '500' }">Maryland</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Massachusetts', count: '600' }">Massachusetts</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Michigan', count: '650' }">Michigan</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Montana', count: '170' }">Montana</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Nebraska', count: '210' }">Nebraska</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Nevada', count: '420' }">Nevada</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'New Hampshire', count: '190' }">New Hampshire</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'New Jersey', count: '780' }">New Jersey</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'New Mexico', count: '260' }">New Mexico</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'New York', count: '1300' }">New York</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'North Carolina', count: '680' }">North Carolina</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Texas', count: '1100' }">Texas</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Utah', count: '320' }">Utah</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Vermont', count: '140' }">Vermont</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Virginia', count: '640' }">Virginia</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Washington', count: '560' }">Washington</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Wisconsin', count: '490' }">Wisconsin</a></li>
                            <li class="p-2"><a [routerLink]="'/paralegals-by-location'" [queryParams]="{ state: 'Wyoming', count: '160' }">Wyoming</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            </div>
          </div>
        </li>
        
        
        

        <!-- Paralegal by Practice Dropdown -->
        <li class="nav-item dropdown position-static" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            Paralegals By Practice
          </a>
        
          <div class="dropdown-menu w-100 p-4 custom-dropdown-practice" ngbDropdownMenu>
            <div class="row h-100">
              <!-- Browse by Practice Areas -->
              <div class="col-md-12">
                <h6 class="fw-bold m-2">Browse by Practice Area:</h6>
           
                <div class="row">
                  <div class="col-md-3">
                    <ul class="list-unstyled">
                      <li class="p-2"><a href="#">Bankruptcy Paralegal</a></li>
                      <li class="p-2"><a href="#">Corporate Paralegal</a></li>
                      <li class="p-2"><a href="#">Criminal Law Paralegal</a></li>
                      <li class="p-2"><a href="#">Elder Law Paralegal</a></li>
                      <li class="p-2"><a href="#">Employment Law Paralegal</a></li>
                      <li class="p-2"><a href="#">Environmental Law Paralegal</a></li>
                      <li class="p-2"><a href="#">Estate Planning Paralegal</a></li>
                      <li class="p-2"><a class="btn btn-primary" style="color: #fff;" routerLink="/paralegals-by-practice">See More Practices</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul class="list-unstyled">
                      <li class="p-2"><a href="#">Family Law Paralegal</a></li>
                      <li class="p-2"><a href="#">Government Paralegal</a></li>
                      <li class="p-2"><a href="#">Healthcare Paralegal</a></li>
                      <li class="p-2"><a href="#">Immigration Paralegal</a></li>
                      <li class="p-2"><a href="#">Intellectual Property Paralegal</a></li>
                      <li class="p-2"><a href="#">Litigation Paralegal</a></li>
                      <li class="p-2"><a href="#">Medical Malpractice Paralegal</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul class="list-unstyled">
                      <li class="p-2"><a href="#">Personal Injury Paralegal</a></li>
                      <li class="p-2"><a href="#">Probate Paralegal</a></li>
                      <li class="p-2"><a href="#">Real Estate Paralegal</a></li>
                      <li class="p-2"><a href="#">Securities Paralegal</a></li>
                      <li class="p-2"><a href="#">Social Security Disability Paralegal</a></li>
                      <li class="p-2"><a href="#">Tax Law Paralegal</a></li>
                      <li class="p-2"><a href="#">Trademark & Copyright Paralegal</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul class="list-unstyled">
                      <li class="p-2"><a href="#">Transactional Law Paralegal</a></li>
                      <li class="p-2"><a href="#">Workers' Compensation Paralegal</a></li>
                      <li class="p-2"><a href="#">Corporate Compliance Paralegal</a></li>
                      <li class="p-2"><a href="#">Insurance Law Paralegal</a></li>
                      <li class="p-2"><a href="#">Entertainment Law Paralegal</a></li>
                      <li class="p-2"><a href="#">Civil Rights Paralegal</a></li>
                      <li class="p-2"><a href="#">International Law Paralegal</a></li>
                      <!-- <li class="p-2"> <a class="btn btn-primary" style="color: #fff;" routerLink="/paralegals-by-practice">See More Practices</a></li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        
      </ul>
     
    </div>

    <!-- Buttons (Right-aligned) -->
     <div class="d-flex">

        <ng-container *ngIf="isLoggedIn; else loggedOutButtons">
          <!-- Logged-in icons -->
          <ng-template #loggedInIcons>
            <i class="ft-search p-3"></i>
            <i class="ft-message-circle p-3"></i>
            <i class="ft-bell p-3"></i>
            <div class="dropdown" ngbDropdown style="margin-top: -0.3rem;" placement="bottom-left">
              <button class="btn dropdown-toggle p-3 logged-in-user-btn" ngbDropdownToggle>
                  <i class="ft-user logged-in-user"></i> 
                  <span class="p-1 logged-in-user">{{ loggedInUserName }}</span>
                  <span class="caret"></span> <!-- Caret Indicator -->
              </button>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <li><a class="dropdown-item dropdown-animated" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li> <!-- Divider -->
                  <li><a class="dropdown-item dropdown-animated" (click)="logout()">Logout</a></li>
              </ul>
          </div>
          
          </ng-template>
          <ng-container *ngTemplateOutlet="loggedInIcons"></ng-container>
        </ng-container>
      
        <ng-template #loggedOutButtons>
         
          <button class="btn btn-primary m-3" [routerLink]="'/pages/register'">Join Beta</button>
          <button class="btn btn-outline-primary m-3" (click)="openLoginModal()">Sign In</button>
        </ng-template>
      </div>
    

  <!-- </div> -->
</nav>


