<!-- Footer Starts -->
<footer class="footer text-white py-3">
  <div class="container text-center">
    <div class="row">
      <!-- Address -->
      <div class="col-md-4">
        <p class="mb-0">284 Alfred Street, Detroit, MI 48201 USA</p>
      </div>
      
      <!-- Divider -->
      <div class="col-md-4">
        <p class="mb-0">Phone: (903) 343-0364</p>
      </div>

      <!-- Email -->
      <div class="col-md-4">
        <p class="mb-0">Email: <a href="mailto:info@hireparalegalsdirect.com" class="text-white">info@hireparalegalsdirect.com</a></p>
      </div>
    </div>

    <hr class="my-2 border-light">

    <!-- Copyright Section -->
    <p class="copyright clearfix text-muted m-0">
      Copyright &copy; {{currentDate | date: 'yyyy'}} 
      <a id="pixinventLink" href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" class="text-white">Hire Paralegals Direct</a>
      <span class="d-none d-sm-inline-block">, All rights reserved.</span>
    </p>
  </div>
</footer>
<!-- Footer Ends -->
